
body {
	background-color: crimson;
}

#hi{
	text-align: center;
	color: brown;
}

button{
	background-color: burlywood;
	width: 15%;
	margin-left: 40%;
	margin-top: 3%;
}
#man input{
	align-content: center;
	background-color: lawngreen;
	background: crimson;
}
	
.done input {
	height:40px;
	width:45%;
	margin: auto;
	justify-content: center;
	background-color: lawngreen;
	color:lime;
	font-size: 1rem;
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 150%;
}